<div class="panel panel-default" ng-init="showContact()">
    <div class="panel-heading">
        <p class="panel-title"> Contact Detail's</p>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="form-control">Name: {{ contact.name }}</label>
                <label class="form-control">Email: {{ contact.email }}</label>
                <label class="form-control">Location: {{ contact.number }}</label>
                <a href="#/contacts" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove-circle"></i></a>
            </div>
        </form>
    </div>
</div>